<div class="w-50 grid">
  <button phx-click="increment" class="rounded bg-red-500 p-1 text-white hover:bg-red-700">
    Up
  </button>

  <span class="text-lg font-bold">
    Count: {@count}
  </span>

  <button phx-click="decrement" class="rounded bg-green-500 p-1 text-white hover:bg-green-700">
    Down
  </button>
</div>
