<div class="w-50 grid">
  <button class="rounded bg-red-500 p-1 text-white">
    Up
  </button>

  <span class="text-lg font-bold">
    Count: 0
  </span>

  <button class="rounded bg-green-500 p-1 text-white">
    Down
  </button>
</div>
