<Layouts.app flash={@flash}>
  <.header>{@page_title}</.header>

  <:breadcrumb>{@page_title}</:breadcrumb>

  <div class="w-50 grid gap-1">
    <.button phx-click="increment" variant="primary">
      Up
    </.button>

    <span class="font-semibold">
      Count: {@count}
    </span>

    <.button phx-click="decrement" variant="secondary">
      Down
    </.button>
  </div>
</Layouts.app>
