<h1 class="text-3xl font-bold">Phoenix: Lunch and Learn</h1>

<div class="mt-2 grid gap-2">
  <.link href={~p"/counter"} class="underline">Counter</.link>
  <.link href={~p"/image"} class="underline">Image editor</.link>
  <.link href={~p"/drawing"} class="underline">Drawing board</.link>
</div>
